<?xml version="1.0" encoding="utf-8"?>
<!-- Release version of App.config -->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pyloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="IronPythonLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="IronPythonWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- Enable mixed-mode CLRv2 assemblies. -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <runtime>
    <!-- Enable loading assemblies from network shares or downloaded from the internet. -->
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <appSettings>
    <add key="console" value="true" />
    <add key="run" value="runbuilder.zip" />
    <add key="library" value="Lib.zip;ModernUI;CSScript" />
    <add key="other" value="" />
    <add key="assembly" value="Microsoft.Scripting.dll;Microsoft.Scripting.Core.dll;Microsoft.Scripting.Metadata.dll;Microsoft.Dynamic.dll;IronPython.dll;IronPython.Modules.dll;" />
  </appSettings>
  <userSettings>
    <Pyloader.Properties.Settings>
      <setting name="runtime" serializeAs="String">
        <value>Pyloader_runtime.zip</value>
      </setting>
    </Pyloader.Properties.Settings>
  </userSettings>
</configuration>